In [12]:
class Employee:
    #emp_count=0
    def __init__(self,emp_id,name,salary,department,designation,contact,gender):
        self.emp_id=emp_id
        self.name=name
        self.salary=salary
        self.department=department
        self.designation=designation
        self.contact=contact
        self.gender=gender
        
       # Employee.emp_contact+=1
    def dispaly_emp_details(self):
        print(" EMP_ID:{}\n Name:{}\n SALARY:{}\n DEPARTMENT:{}\n DESIGNATION:{}\n CONTACT:{}\n GENDER:{}".format(self.emp_id,self.name,self.salary,self.department,self.designation,self.contact,self.gender))

In [13]:
SHUBHAM=Employee(1,"shubham","12lpa","product","SDE",8445685,"M")

In [14]:
SHUBHAM.dispaly_emp_details()

 EMP_ID:1
 Name:shubham
 SALARY:12lpa
 DEPARTMENT:product
 DESIGNATION:SDE
 CONTACT:8445685
 GENDER:M

In [17]:
SHUBHAM.contact

8445685

In [24]:
raju=Employee(2,"raju","86k","system","sde2",6587496,"M")

In [19]:
raju.salary

'86k'

In [23]:
raju.dispaly_emp_details()

 EMP_ID:2
 Name:raju
 SALARY:86k
 DEPARTMENT:system
 DESIGNATION:sde2
 CONTACT:6587496
 GENDER:m

In [79]:
class Employee:
    emp_count=1
    company_name="dell"
    def __init__(self,name,salary,department,designation,contact,gender):
        self.emp_id= Employee.emp_count
        Employee.emp_count+=1
        self.name=name
        self.salary=salary
        self.department=department
        self.designation=designation
        self.contact=contact
        self.gender=gender
        self.company_name=Employee.company_name
        
#         Employee.emp_count+=1
    def dispaly_emp_details(self):
        print(" EMP_ID:{}\n Name:{}\n SALARY:{}\n DEPARTMENT:{}\n DESIGNATION:{}\n CONTACT:{}\n GENDER:{}\n Company Name:{}".format(self.emp_id,self.name,self.salary,self.department,self.designation,self.contact,self.gender,self.company_name))

In [80]:
shubham=Employee("shubham",25000,"product","sde1",8754699,"m")

In [81]:
shubham.dispaly_emp_details()

 EMP_ID:1
 Name:shubham
 SALARY:25000
 DEPARTMENT:product
 DESIGNATION:sde1
 CONTACT:8754699
 GENDER:m
 Company Name:dell

In [120]:
class Employee:
    #emp_count=0
    def __init__(self,emp_id,name,salary,department,designation,contact,gender):
        self.emp_id=emp_id
        self.name=name
        self.salary=salary
        self.department=department
        self.designation=designation
        self.contact=contact
        self.gender=gender
        
       # Employee.emp_contact+=1
    def display_emp_details(self):
        print(" EMP_ID:{}\n Name:{}\n SALARY:{}\n DEPARTMENT:{}\n DESIGNATION:{}\n CONTACT:{}\n GENDER:{}".format(self.emp_id,self.name,self.salary,self.department,self.designation,self.contact,self.gender))

In [121]:
class Manager(Employee):
    def __init__(self,emp_id,name,salary,department,contact,gender,num_of_subordinates):
        Employee.__init__(self,emp_id,name,salary,department,"Manager",contact,gender)
        self.num_of_subordinates=num_of_subordinates
    def display_emp_details(self):
        Employee.display_emp_details(self)
        print("SUBORDINATES",self.num_of_subordinates)

In [122]:
bharat=Manager(1,"bharat","16LPA","Product","859674","m",25)

In [123]:
bharat.display_emp_details()

 EMP_ID:1
 Name:bharat
 SALARY:16LPA
 DEPARTMENT:Product
 DESIGNATION:Manager
 CONTACT:859674
 GENDER:m
SUBORDINATES 25

In [124]:
class Employee:
    #emp_count=0
    def __init__(self,emp_id,name,salary,department,designation,contact,gender):
        self.emp_id=emp_id
        self.name=name
        self.salary=salary
        self.department=department
        self.designation=designation
        self.contact=contact
        self.gender=gender
        
       # Employee.emp_contact+=1
    def display_emp_details(self):
        print(" EMP_ID:{}\n Name:{}\n SALARY:{}\n DEPARTMENT:{}\n DESIGNATION:{}\n CONTACT:{}\n GENDER:{}".format(self.emp_id,self.name,self.salary,self.department,self.designation,self.contact,self.gender))

In [125]:
class Manager(Employee):
    def __init__(self,emp_id,name,salary,department,contact,gender,num_of_subordinates):
        Employee.__init__(self,emp_id,name,salary,department,"Manager",contact,gender)
        self.num_of_subordinates=num_of_subordinates
    def display_emp_details(self):
        Employee.display_emp_details(self)
        print("SUBORDINATES",self.num_of_subordinates)

In [133]:
class Director(Employee):
    def __init__(self,emp_id,name,salary,department,contact,gender,num_of_managers):
        Employee.__init__(self,emp_id,name,salary,department,"Director",contact,gender)
        self.num_of_managers=num_of_managers
    def display_emp_details(self):
        Employee.display_emp_details(self)
        print("num_of_managers",self.num_of_managers)

In [134]:
rahul=Director(26,"rahul","65Lpa","Product","8456789","m",5)

In [136]:
rahul.display_emp_details()

 EMP_ID:26
 Name:rahul
 SALARY:65Lpa
 DEPARTMENT:Product
 DESIGNATION:Director
 CONTACT:8456789
 GENDER:m
num_of_managers 5

### Create a class Student of Edyoda institute.where every object stores details of that student . Also have a display_student_details method to get details of student. Have a class variable institute_name as "Edyoda" Create student id on the basis of the number of objects/students that have been created so far

shubham: student_id = 1 rahul: student_id = 2 namratha = student_id = 3

In [139]:
class Student:
    institute_name="Edyoda"
    student_count=1
    def __init__(self,name,age,degree):
        self.student_id=Student.student_count
        Student.student_count+=1
        self.name=name
        self.age=age
        self.degree=degree
        self.institute=Student.institute_name
    
    def display_student_details(self):
        print("student_id:{}\nname:{}\nage:{}\ndegree:{}\ninstitute:{}".format(self.student_id,self.name,self.age,self.degree,self.institute))

In [140]:
shubham=Student("Shubham",22,"Btech")

In [142]:
shubham.display_student_details()

student_id:1
name:Shubham
age:22
degree:Btech
institute:Edyoda

In [143]:
rahul=Student("rahul",28,"mtech")

In [144]:
rahul.display_student_details()

student_id:2
name:rahul
age:28
degree:mtech
institute:Edyoda

In [145]:
namratha=Student("namratha",28,"mtech")

In [146]:
namratha.display_student_details()

student_id:3
name:namratha
age:28
degree:mtech
institute:Edyoda

# # Execution order in case of multiple inheritance

In [148]:
class A:
    def m1(self):
        print("A class method called")
class B:
    def m1(self):
        print("B class method called")
class C(A,B):
    pass

In [150]:
c=C()

In [151]:
c.m1()

A class method called

In [155]:
class Students:
    institute="Edyoda"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display_student(self):
        print("Name:",self.name)
        print("age:",self.age)
        print("Institute:",Students.institute)
    def update_institute(self,institute):
        Students.institute=institute

In [156]:
st1=Students("Jafar",32)

In [159]:
st1.display_student()

Name: Jafar
age: 32
Institute: Edyoda

In [160]:
st1.update_institute("mit")

In [161]:
st1.display_student()

Name: Jafar
age: 32
Institute: mit

In [162]:
Students.institute

'mit'

In [163]:
Students.age

AttributeError: type object 'Students' has no attribute 'age'